* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.grid-container {
  display: grid;
  width: 100%;
  padding: 16px;

  // 各種數量的排列樣式
  &.grid-1x1 {
    grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  }

  &.grid-3x3 {
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  }

  &.grid-5x5 {
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  }

  &.grid-10x10 {
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  }
}
